<div class="span6 offset3 text-center trans-box">
		<h1 class="custom-font">add a coding pic</h1>
		<br />

		<%= simple_form_for @pic do |f| %>
			<%= f.input :hour, label: 'what hour was this?', placeholder: '1, 2, 3, etc.' %>
			<%= f.input :emotion, label: 'how do you feel?', placeholder: 'stoked, excited, confused' %>
			<%= f.input :learned, label: 'what did you learn?', placeholder: 'HTML, CSS3, Rails, Ruby, Github' %>

		<br />
		<br />
			<%= f.submit 'Save', :class => 'btn btn-inverse btn-large' %>

		<% end %>
	</h2>
</div>